 header {
  text-align: center;
 }
 
 body {
    background-image: url('./laughing emoji transparent.png');    
    font-family: helvetica, sans-serif;
    }

    .formBox {
      border: 3px solid black;
      border-radius: 1em;
      background-color: white;
      padding: 20px;
      margin: 0 auto;
      width: 400px;
      box-shadow: 10px 15px 20px;
    }

    label {
      font-weight: bold;  
    }

    div {
      padding-bottom: 20px;
    }

    input[type="text"] {
      padding: 5px;
      width: 150px;
    }

    p {
      background: #FFC125;
      color: #5E2612;
      padding: 1em;
      border-radius: 10px;
      visibility: hidden;
    }
